{% extends 'tienda/base.html' %}
{% block content %}

<h2>Ventas del día {{ fecha }}</h2>
<hr>

{% if ventas %}
    {% for venta in ventas %}

        <h3>Venta #{{ venta.id }}</h3>

        <p><strong>Vendedor:</strong> {{ venta.usuario.usuarios.nombre_completo }}</p>
        <p><strong>Fecha y Hora:</strong> {{ venta.fecha_venta }}</p>

        <table border="1" cellpadding="5">
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Costo Unitario</th>
                <th>Costo Total</th>
            </tr>

            {% for d in venta.detalle_venta_set.all %}
            <tr>
                <td>{{ d.producto.nombre }}</td>
                <td>{{ d.cantidad }}</td>
                <td>{{ d.precio_unitario }}</td>
                <td>{{ d.subtotal }}</td>
            </tr>
            {% endfor %}
        </table>

        <p><strong>Total Venta:</strong> {{ venta.total }}</p>

        <hr>

    {% endfor %}
{% else %}
    <p>No hay ventas este día.</p>
{% endif %}

<p><a href="{% url 'reporte_dias' %}">Volver</a></p>

{% endblock %}
