{% extends 'tienda/base.html' %}

{% block content %}

<h1>inicio</h1>
<section class="d-flex flex-column cards">
    <div>
        <h3 class="text-center">Resumen</h3>
    </div>
    <div class="d-flex justify-content-around flex-row flex-wrap gap-3">   
        <div class="text-center card" style="background-color: #d9d9d9; border: none; min-width: 155px; max-height: 100px;">
            <p>Productos:</p>
            <p>{{ productos }}</p>
        </div>
        {% comment %} <div class="text-align-center card">
            <p>Ventas totales:</p>
            <p>{{ ventas }}</p>
        </div> {% endcomment %}
        <div class="text-center card" style="background-color: #d9d9d9; border: none; min-width: 155px; max-height: 100px;">
            <p>Ventas de hoy:</p>
            <p>{{ ventas_hoy }}</p>
        </div>
        <div class="text-center card" style="background-color: #d9d9d9; border: none; min-width: 155px; max-height: 100px;">
            <p>Stock bajo:</p>
            <p><a href="{% url 'stock_bajo_list' %}" style="text-decoration: none; color: red;">{{ stock_bajo }}</a></p>
            {% comment %} {% for item in all_stock_bajo %}
                <p>{{ item.producto.nombre }} - {{ item.stock }}</p>
            {% endfor %} {% endcomment %}
        </div>
    </div>
    <div class="mt-4 card p-2" style="overflow-y: scroll; max-height: 260px; min-height: 250px; background-color: #d9d9d9; border: none;">
        <p>Actividades recientes</p>
        <div>
            {% for venta in ultimas_5_ventas %}
                <div class="d-flex justify-content-between">
                    <span>Venta #{{ venta.id }}</span>
                    {% comment %} <span>{{ venta.fecha_venta }}</span> {% endcomment %}
                    {% load tz %}
                    {% comment %} <span>{{ venta.fecha_venta|localtime }}</span> {% endcomment %}
                    <span>{{ venta.fecha_venta|localtime|date:"d/m/Y H:i" }}</span>
                </div>

                <p><strong>Vendedor:</strong> {{ venta.usuario.usuarios.nombre_completo }}</p>

                
                <table border="1" cellpadding="5" class="table">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Costo Unitario</th>
                        <th>Costo Total</th>
                    </tr>

                    {% for d in venta.detalle_venta_set.all %}
                    <tr>
                        <td>{{ d.producto.nombre }}</td>
                        <td>{{ d.cantidad }}</td>
                        <td>{{ d.precio_unitario }}</td>
                        <td>{{ d.subtotal }}</td>
                    </tr>
                    {% endfor %}
                </table>

        <p><strong>Total Venta:</strong> {{ venta.total }}</p>

        <hr>
            {% empty %}
                <p>No hay actividades recientes.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}