


/* <----------------------------------------------> */
.imagenM {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

#side-nav ul li{
    max-width: 72%;
    text-align: center;
}

/**Estilos para el inicio**/
/* bg-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #d9d9d9;
} */

/* 1. Estilo base (PC): Se comporta como una columna flex normal */
.sidebar-manual {
    width: 280px;
    transition: left 0.3s ease; /* Animación suave al entrar/salir */
}

/* 2. Estilo para Móvil (Pantallas menores a 768px) */
@media (max-width: 768px) {
    .sidebar-manual {
        position: fixed; /* Se fija encima del contenido */
        top: 0;
        left: -280px;    /* ESCONDIDO: Lo movemos fuera de la pantalla a la izquierda */
        height: 100vh;   /* Altura completa */
        z-index: 1000;   /* Asegura que flote sobre todo lo demás */
    }

    /* 3. Clase activa: Cuando agreguemos esta clase con JS, el menú aparece */
    .sidebar-manual.activo {
        left: 0;         /* VISIBLE: Lo devolvemos a su sitio */
        box-shadow: 2px 0 5px rgba(0,0,0,0.5); /* Sombra para que se vea bonito encima */
    }
}