/* Para formulario login */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    /* ---- */
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header{
    text-align: center;
    /* margin-bottom: 2rem; */
    background-color:#466ccd;
    padding: 2rem;
    /* border-radius: 8px 8px 0 0; */
}

.imagenM {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-green {
    background-color: #4ade80; /* Verde */
    color: white;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;   
    width: 30%;
    margin-top: .1rem;
}


.main-login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:flex-start
}


.login-container {
    /* background: white; */
    padding: 20px;
    /* border-radius: .8rem; */
    text-align: center;
    width: 35rem;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}

input.form-control {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: .5rem;
    border: 0.1rem solid #ccc;
}

form div label {
    text-align: start;
    min-width: 100%;
    /* color: red */
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;

}